<!DOCTYPE html>
<html>
<head>
  <!-- Standard Meta -->
  <head>
      <meta charset="utf-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

      {% extends "base.html" %}
      {% load staticfiles %}
      {%block head%}
    <meta charset="utf-8" />
            <link rel="stylesheet" type="text/css" href="{% static 'dist/custom.css' %}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <!-- Site Properities -->

{%endblock head%}
{%block content%}


<body class="main main-view">

    <div class="ui fixed inverted menu">
      <div class="ui container">
        <div href="#" class="header item">
         <a href="/index">CS 225 Conflict signup</a>
        </div>
      </div>
      <div class="right menu">
      <div href="#"class="header huge item">{{obj}}</div>
           <a href="/decision" class="item">Decision</a>
                <a href="/logout" class="item">Logout</a>

      </div>
    </div>

<br><br><br>
<div class="ui middle aligned center aligned grid">
  <div class="ten wide column">

    <form action = "/index/" class="ui form" method="post">
        {%csrf_token%}
      <div class="ui stacked segment">
          <h1> Your response was recorded. The decision would be released in a few days</h1>
      </div>

      <div class="ui error message"></div>

    </form>


  </div>
</div>

</body>
  {%endblock content%}
