<!DOCTYPE html>
<html>

    <head>
        {% extends "base.html" %} {% load staticfiles %} {%block head%}
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"> {%endblock head%} {%block content%}
        <script>
        $(document)
          .ready(function() {
            $('.ui.form')
              .form({

              })
            ;
          })
        ;
        </script>

        <body>
            <form class="ui large form" method="post" action="location/">
                {%csrf_token%}
                <div class="ui stacked segment">

                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">lat1</div>
                            <input type="number" name="lat1" placeholder="Latitude 1">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">long1</div>
                            <input type="number" name="long1" placeholder="Longitude 1">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">lat2</div>
                            <input type="number" name="lat2" placeholder="Latitude 2">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">long2</div>
                            <input type="number" name="long2" placeholder="Longitude 2">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">lat3</div>
                            <input type="number" name="lat3" placeholder="Latitude 3">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">long3</div>
                            <input type="number" name="long3" placeholder="Longitude 3">
                        </div>
                    </div>
                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">lat4</div>
                            <input type="number" name="lat4" placeholder="Latitude 4">
                        </div>
                    </div>

                    <div class="field">
                        <div class="ui left labeled input">
                            <div class="ui label">long4</div>
                            <input type="number" name="long4" placeholder="Longitude 4">
                        </div>
                    </div>
                    <div class="ui fluid large teal submit button">Signup!</div>
                </div>
                <div class="ui error message"></div>
            </form>
        </body>
        {%endblock content%}
